/* projects page gray background */
div.proj-page {
    padding: 3px;
    background-color: rgb(66, 70, 71);
}

/* MiniBox custom link */
a.linkmb {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(7, 252, 170);
    text-decoration: none;
}
a.linkmb:hover {
    color: rgb(243, 86, 38);
	  background: -webkit-linear-gradient(92deg, rgb(243, 86, 38), rgb(254, 171, 58));
    -webkit-background-clip: text;
    background-clip: text;
	  -webkit-text-fill-color: transparent;
	  -webkit-animation: animtext 4s infinite linear;
    animation: animtext 4s infinite linear;
}

/* terminal */
div.terminal {
    background: rgb(0,0,0);
}
span.hide { opacity: 0; }
h2.terminal {
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

/* download button */
.btndwn {
    border-radius: 10%;
    border: none;
    background-color: rgb(106, 221, 39);
    padding: 10px;
}
.btndwn:hover {
    background-color: rgb(93, 190, 36);
}
.dwntext {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

/* all releases download */
.btndwn_all {
    border-radius: 10%;
    border: none;
    background-color: rgb(65, 165, 95);
    padding: 10px;
}
.btndwn_all:hover {
    background-color: rgb(46, 117, 67);
}