/* ===================== BASE ===================== */
body {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

a {
    color: rgb(132, 243, 255);
    text-decoration: initial;
}

a:hover {
    color: rgb(0, 221, 246);
}

.links {
    font-size: small;
}

a.activepage {
    color: rgb(0, 169, 187);
}

h3.smalltitle {
    font-size: x-large;
    color: rgb(0, 229, 255)
}

h1, h2, h3, h4, a {
    font-family: "TopazPlus", "Lucida Console", monospace;
}

h3 {
    color: rgb(208, 208, 208);
}