/* ===================== BASE ===================== */
body {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    position: relative;
    overflow-x: hidden;
    height: 100%;
}

a {
    color: rgb(132, 243, 255);
    text-decoration: initial;
}

a:hover {
    color: rgb(0, 221, 246);
}

.links {
    font-size: small;
}

a.activepage {
    color: rgb(0, 169, 187);
}

h3.smalltitle {
    font-size: x-large;
    color: rgb(0, 229, 255)
}

h1, h2, h3, h4, a {
    font-family: "TopazPlus", "Lucida Console", monospace;
}

h3 {
    color: rgb(208, 208, 208);
}

/* ===================== HYTALE ===================== */
#hytale-countdown {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#countdown-timer {
    font-family: monospace;
    font-size: 28px;
    font-weight: bold;
}

.hs-leaf {
    position: absolute;
    top: 10px;
    right: -40px;
    width: 20px;
    height: 12px;
    background: #7CCF55;
    border-radius: 50% 0 50% 0;
    transform: rotate(15deg);
    opacity: 0;
    pointer-events: none;
}

#hytale-countdown:hover .hs-leaf {
    animation: hypixelLeaf 1.8s cubic-bezier(.42,0,.58,1) forwards;
}

@keyframes hypixelLeaf {
    0% {
        transform: translateX(0) translateY(0) rotate(15deg);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        transform: translateX(-40px) translateY(-10px) rotate(25deg);
    }

    60% {
        transform: translateX(-110px) translateY(5px) rotate(10deg);
    }

    90% {
        transform: translateX(-180px) translateY(-3px) rotate(20deg);
        opacity: 1;
    }

    100% {
        transform: translateX(-210px) translateY(0) rotate(30deg);
        opacity: 0;
    }
}