h1.e404:before{
    content: '404';
    font-family: 'Exo 2', sans-serif;
    font-size: 600%;
    color: rgb(82, 87, 88);
    text-align: center;
    animation-name: errorbg, glitch;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.errredtitle {
    color: rgb(255, 34, 52);
    font-family: 'Exo 2', sans-serif;
    font-size: 250%;
    text-align: center;
}

.errtitle {
    color: rgb(255, 95, 109);
    font-family: 'Exo 2', sans-serif;
    font-size: 250%;
    text-align: center;
}

.errnormaltext {
    font-family: 'Exo 2', sans-serif;
    font-size: 200%;
    text-align: center;
}

.errreallysmalltext {
    font-size: 70%;
}

@keyframes errorbg {
    0% {font-size:590%; opacity:1;}
    25% {font-size:590%; opacity:0;}
    50% {font-size:590%; opacity:1;}
    65% {font-size:590%; opacity:0;}
    80% {font-size:590%; opacity:1;}
    90% {font-size:590%; opacity:0;}
    100% {font-size:590%;opacity:1;}
}

@keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    15% {
      text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
        0.025em 0.04em 0 #fffc00;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
        -0.05em -0.05em 0 #fffc00;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
        0 -0.04em 0 #fffc00;
    }
    100% {
      text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
        -0.04em -0.025em 0 #fffc00;
    }
  }